body {
  background-color: white;
  margin: 30px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.cta-group {
  display: flex;
}
.brand-logos {
  display: flex;
  justify-content: space-between;
}

.content-col {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
}

.image-col {
  grid-column-start: 2;
  grid-column-end: 3;
}

.brand-logos svg {
  width: 100px;
  height: 100px;
}
